DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_URL=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET_NAME=
AWS_REGION=
AWS_ENDPOINT=
AWS_PATH_STYLE_ACCESS_ENABLED=
JWT_SECRET=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=
REDIS_PASSWORD=